*{
  margin: 0;
  padding: 0;
}
.first-section{ background-color:#1f2937;}

#header-logo{font-size: 28px;
color: whitesmoke;}


.header-link{ font-size: 18px;
color: white;
margin-left: 90px;}

.navbar{ display: flex;
  flex-direction: row;
 }
ul{ display: flex;
flex-direction: row;
gap: 15px;}

.navbar-right,.navbar-left{
display: flex;
width: 50%;
justify-content: center;
align-items: center;}

 .content-right{ display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 50%;
margin: 50px;}
img{ margin: 50px;}

.content-left{ display: flex; flex-direction: column; width: 50%;align-items: center; justify-content: center; color: white;}

.content {display: flex;
  flex-direction: row;
  margin: 50px;}

  .p-first{ margin-left: 90px; font-size: 18px; color: white; padding-left: 225px; margin-top: 50px;}
  .button {
    background-color: #4CAF50; /* Green */
    border: skyblue; border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
  }
.row-of-blue-divs{display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding-bottom: 40px;}
h2{text-align: center; font-size: 36px;}

.imgo{width: 150px;
  height: 150px;} 
  .p-second{font-size: 24px; text-align: center;}

.third-section{ background-color: #e6e6e6;
text-align: center;
padding-top: 6%;}
 h3{ font-size: 36px; font-style: italic; color: #1f2937;} 

 .quot{font-size: 34px; font-style: italic; padding-left: 750px; color: #1f2937  }

 .last-section{ display: flex; height: 300px; justify-content: center; align-items: center;}
 
 .blue-container{background-color: blue;width: 75%; height: 40%; display:flex; flex-direction: row;
   display: flex; justify-content: center; flex-direction: row;align-items: center;} 

 .left{ display: flex; flex-direction: column; justify-content: flex-startbackground-color: #4CAF50; /* Green */
    border: skyblue; border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;;}
 h4{color: white;font-size: 24px;}
.right{ display: flex; justify-content: flex-start; align-items: center;}
 .last-but{background-color: #4CAF50; /* Green */
    border: skyblue; border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;}
    .footer{ display: flex;
    justify-content: center;
  background-color: #1f2937;
height: 70px;
align-items: center;
color: white;}























  