.header{display: flex;
background-color: lightgreen;
font-size: 24px;
align-items: center;
color: aliceblue;
}


footer{display: flex;
background-color: pink;
height: 72px;
background: #eee;
color: darkmagenta;
display: flex;
align-items: center;
justify-content: center;}
body {
    display: flex;
    flex-direction: column;
  }

  footer span {
    padding-bottom: 20px;
  }
  